@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');


.slick-dots{
    margin-top: 10px !important;
}

.slick-dots li button:before{
    font-size: 12px !important;
    width: 90%;
}
.slick-dots li.slick-active button:before{
    color: #20c997 !important;
    border-radius: 30px;
    display: flex;
    padding: 0 2px;
    transition: none !important;
}
.active{
    color: #20c997;
    border-color: #20c997 !important;
}

@media (min-width: 768px) {
    .md\:col-span-9 {
        grid-column: span 9 / span 9 !important;
    }
}
